.header {
  background-color: rgb(32, 35, 41);
}

.col-3 {
  background-color: rgb(212, 236, 236);
  flex-direction: column;
}
.col-9 {
  background-color: rgb(255, 0, 183);
}

.character-img {
  width: 100px;
}
.panel-izq {
  display: flex;
}
.panel-izq > a {
  cursor: pointer;
  padding: 5px;
  font-size: 15px;
}
.panel-izq > a:hover {
  background-color: aliceblue;
}
