.header {
  background-color: rgb(32, 35, 41);
}

.col-3 {
  flex-direction: column;
}
.col-9 {
}

.character-img {
  width: 100px;
}
.panel-izq {
  display: flex;
  border-right: 3px solid black;
}

.panel-izq > a {
  cursor: pointer;
  padding: 5px;
  font-size: 15px;
}
.panel-izq > a:hover {
  background-color: rgb(32, 35, 41);
  color: white !important;
}
.character-target {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
